@mixin animation($params) {
  -webkit-animation: #{$params};
  -moz-animation: #{$params};
  -ms-animation: #{$params};
  -o-animation: #{$params};
  animation: #{$params};
}

@mixin keyframes($animationName) {
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin box-builder($background, $dimension, $border, $border-radius){
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $dimension;
    width: $dimension;
}
